<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/admin-layout}">
<head>
    <title>New Post</title>
</head>
<body>
<div layout:fragment="content">
    <div class="posts-overview">
        <h1>New post:</h1>
        <div id="summernote">Hello Summernote</div>

        <script>
            $(document).ready(function() {
              $('#summernote').summernote({
                height: 300
               });
            });
        </script>

    </div>
</div>
</body>
</html>