<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Alan Rusnak</title>
    <object th:include="layouts/head-tags :: head-tags" th:remove="tag" />
</head>
<body>

<div class="container">
    <div class="header" th:include="layouts/header :: header"></div>
    <div class="row">
        <div class="col-md-3 sidebar" th:include="layouts/sidebar :: sidebar"></div>
        <div class="col-md-9 content" layout:fragment="content"></div>
    </div>
    <div class="footer" th:include="layouts/footer :: footer"></div>
</div>



</body>
</html>