<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:fragment="header">
    <div class="row">
        <div class="logo col-md-3">
            <a href="/">Alan Rusnak</a>
        </div>
        <div class="navbar col-md-9">
            <a href="/posts">Posts</a>
            <a href="/projects">Projects</a>
        </div>
    </div>
</div>
<div th:fragment="admin-header">
    <div class="row">
        <div class="logo col-md-3">
            <a href="/">Alan Rusnak</a>
        </div>
        <div class="navbar col-md-9">
            <a href="/admin/new-post">New Post</a>
            <a href="/admin/edit-posts">Edit Posts</a>
        </div>
    </div>
</div>
</body>
</html>