<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:fragment="sidebar">
    <div class="profile-image">
        <img src="images/alan-rusnak.jpg" alt="Alan Rusnak" />
    </div>
    <div class="profile-description">
        Software developer.<br />
        Java. Spring. SpringMVC. Hibernate. JSF.
    </div>
    <div class="social-links">
        <a href="mailto:alanrusnak9@gmail.com"><i class="fa fa-envelope"></i>Email</a>
        <a href="https://github.com/alanrusnak"><i class="fa fa-github"></i>GitHub</a>
        <a href="https://www.linkedin.com/in/alan-rusnak-526490108"><i class="fa fa-linkedin-square"></i>LinkedIn</a>
    </div>
</div>
</body>
</html>