<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>
    <title>All Posts</title>
</head>
<body>
<div layout:fragment="content">
    <div class="posts-overview">
        <h1>All Posts</h1>
        <hr />
        <article>
            <h2><a href="#">How to win at life</a></h2>
            <p>This is some explanation of Post</p>
        </article>
        <article>
            <h2><a href="#">How to  be good at Java</a></h2>
            <p>This is some explanation of Post</p>
        </article>
    </div>
</div>
</body>
</html>