body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color: #555;;
}

a{
    color: #555;
}

a:hover{
    color: #000;
    text-decoration: none;
}

.container{
    max-width: 1600px
    margin: 0 auto;
}

.header{
    margin-top: 1em;
    margin-bottom: 2em;
    line-height: 3em;
}

.logo{
    font-size: 2em;
}

.navbar a{
    margin-right: 20px;
}


.sidebar{

}

.profile-image{
    max-width: 175px;
    max-height: 175px;
}

.profile-image img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
}

.profile-name{
    font-size: 1.5em;
    font-weight: 600;
}

.profile-description{
    margin-top: 1em;
    font-color: #888;
    max-width: 200px;
}

.social-links{
    margin-top: 1em;
}

.social-links a{
    display: block;
}

.social-links i{
    font-size: 1.2em;
    margin-right: 5px;
}

